@import './styles/animations.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #4c1d95; /* equivalent to bg-purple-900 */
  border-radius: 9999px; /* equivalent to rounded-full */
}

/* background-color: #5b21b6; equivalent to bg-purple-800 */
.custom-bg {
  @apply bg-purple-800;
}